<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Joyce Machado - Fotografa em Itupeva - Fotografia</title>
    <meta name="”robots”" content="”noindex,nofollow”" />
    <meta
      name="keywords"
      content="fotografia, fotografa, fotos, joyce, portrait, itupeva, "
    />
    <meta
      name="description"
      content="Fotografa em Itupeva - Especialista em Ensaios Fotograficos - Fotografia"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./styles.scss" />
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon" />
    <script
      src="https://kit.fontawesome.com/1a07ebd204.js"
      crossorigin="anonymous"
    ></script>
    <script>
      window.imageLimit = parseInt("<%= imagesLimit %>", 10);
    </script>
  </head>
  <body>
    <header class="main-header">
      <h1><%= client %></h1>
    </header>
    <div class="container">
      <div class="selected-images">
        You selected <span id="selected-images-count">0</span> of
        <span id="selected-images-total"><%= imagesLimit %></span>
        <button disabled>Enviar</button>
      </div>
      <% for(var i = 0; i < photos.length; i++) { %> <% var photo = photos[i] %>
      <figure>
        <input type="checkbox" class="select-photo" value="<%= photo.id %>" />
        <a href="#<%= photo.id %>" data-image-id="<%= photo.id %>">
          <picture>
            <source
              srcset="/images/gallery/full/thumb/<%= photo.id %>.webp"
              type="image/webp"
            />
            <source
              srcset="/images/gallery/full/thumb/<%= photo.id %>.jpg"
              type="image/jpeg"
            />
            <img
              src="/images/gallery/full/thumb/<%= photo.id %>.jpg"
              alt="<%= photo.alt %>>"
              width="<%= photo.width %>"
              height="<%= photo.height %>"
            />
          </picture>
        </a>
      </figure>
      <% } %>
    </div>

    <div class="modal-container">
      <div class="modal-close">
        <a data-modal-close><i class="fa-solid fa-close"></i></a>
      </div>
      <div class="modal" data-modal-image></div>
      <div class="modal-navigation">
        <a data-gallery-nav="prev"><i class="fa-solid fa-chevron-left"></i></a>
        <a data-gallery-nav="next"><i class="fa-solid fa-chevron-right"></i></a>
      </div>
    </div>

    <script type="module" src="./scripts.js"></script>
  </body>
</html>
