<header class="main-header">
  <h1><%=client %></h1>

  <div class="main-header-links">
    <!-- <div class="link-container has-sub-menu">
      <a> PORTFOLIO <i class="fa-solid fa-chevron-down"></i> </a>
      <div class="sub-menu">
        <a href="#"> SUB 1 </a>
        <a href="#"> SUB 2 </a>
        <a href="#"> SUB 3 </a>
      </div>
    </div>
    <div class="link-container">
      <a href="#">PACOTES</a>
    </div> -->
    <div class="link-container">
      <a href="https://www.instagram.com/joycegito/" target="_blank"
        >INSTAGRAM</a
      >
    </div>
    <div class="link-container">
      <a
        href="https://api.whatsapp.com/send?phone=5511932244663"
        target="_blank"
        >CONTACT</a
      >
    </div>
    <!-- <div class="link-container">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="link-container">
      <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
    </div> -->
  </div>
</header>
