* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  color: #222222;
}

body {
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  cursor: pointer;
}

.container {
  column-count: 1;
  column-gap: 20px;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

figure {
  margin: 0;
  margin-bottom: 20px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    opacity: .8;
  }
}

.modal-container i:hover {
  opacity: .8;
}

@media (min-width: 600px) {
  .container {
    column-count: 2;
  }
}

@media (min-width: 1020px) {
  .container {
    column-count: 3;
  }
}

@media (min-width: 1520px) {
  .container {
    column-count: 4;
  }
}

.main-header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  top: 0;
  background-color: white;

  .sub-menu {
    position: absolute;
    opacity: 0;
    top: -9999px;

    a {
      margin-bottom: 6px;

      &:last-child {
        margin: 0;
      }
    }

  }
}

.link-container {
  margin-left: 10px;
  position: relative;

  i {
    font-size: 1.2em;
  }

  &:hover .sub-menu {
    top: 100%;
    background-color: rgba(255,255,255,0.8);
    opacity: 1;
    transition: opacity .3s;
    display: flex;
    flex-flow: column;
    left: 0;
    padding: 10px;
    width: 100%;
    text-align: right;
  }
}


.main-header-links {
  display: flex;

  .fa-chevron-down {
    font-size: .8em;
  }

  a:hover {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 5px;
    opacity: .8;
  }

  .has-sub-menu a {
    border-bottom: none !important;
    padding-bottom: 0px !important;
  }
}


body.show-modal {
  overflow: hidden;

  .modal-container{
    display: block;
  }
}

.modal-container {
  position: fixed;
  display: none;
  background-color: rgba(255,255,255,0.8);
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  i {
    transition: .3s;
  }
}

.modal-close, .modal-navigation {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 16px;
  font-size: 1.4em;
}

.modal-navigation {
  justify-content: center;

  a{
    margin: 0 20px;
  }
}

.modal {
  height: calc(100vh - 120px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
